.img-container img {
  width: 300px;
  border-radius: 8px;
  height: 170px;
}

.order-container {
  border: 2px solid lightcoral;
  margin: 30px;
  background-color: lightblue;
  border-radius: 8px;
  padding: 15px;
}
